.recipe-edit {
  position: fixed;
  right: 0;
  top: 0;
  width: 50%;
  max-height: 100%;
  overflow-y: auto;
  padding: 0px 30px 30px 10px;
}

.recipe-edit__remove-button-container {
  text-align: end;
  margin-top: 0;
}

.recipe-edit__remove-button {
  padding: none;
  background: none;
  border: none;
  outline: none;
  font-size: 2rem;
  padding: 5px;
}

.recipe-edit__details-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  column-gap: 40px;
}

.recipe-edit__label {
  font-weight: bold;
}

.recipe-edit__input {
  border: 1px solid #000;
  border-radius: 5px;
  font-size: inherit;
  padding: 5px 10px;
  outline: none;
  width: 100%;
}

textarea.recipe-edit__input {
  resize: none;
  height: 200px;
}

.recipe-edit__ingredient-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  margin: 20px 0 0 40px;
}

.recipe-edit__add-ingredient-btn-container {
  margin-top: 20px;
  text-align: center;
}

@media (max-width: 768px) {
  .recipe-edit {
    padding: 0 10px 10px;
  }

  .recipe-edit__details-grid {
    grid-template-columns: 1fr;
    gap: 5px;
    column-gap: 10px;
  }

  .recipe-edit__ingredient-grid {
    margin: 20px 0 0 0px;
  }
}
